.dispatch-players-panel-container .team {
    border: #0F1235 2px solid;
    border-radius: 4px;
    height: 250px;
    width: 200px;
    display: inline-block;
    position: relative;
    margin: auto;
}

.dispatch-players-panel-container {
    display: flex;
    position: relative;
    margin-bottom: 15px;
}

.player {
    height: 25px;
    background-color: #0F1235;
    color: white;
    width: 199px;
    display: inline-block;
    padding-top: 3%;
    margin: 0;
    border-radius: 4px;
}

