#needle-gauge {
    height: 10em;
    width: 20em;
    border-radius: 50%;
    border: 12px solid #0F1235;
    display: block;
    border-radius: 50%/100% 100% 0 0;
    left: 10px;
    position: relative;
    overflow: hidden;
}

#needle-gauge .needle {
    background-color: red;
    height: 5px;
    width: 50%;
    border-radius: 5px;
    -webkit-transform: rotate(var(--needle-position));
    position: relative;
    z-index: 1;
    top: 10em;
    padding-left: 50%;
    transform-origin: center;
    visibility: visible;
}


.gauge--button {
    border-color: red;
    background-color: red;
    border-radius: 50%;
    height: 3em;
    width: 3em;
    z-index: 10;
    position: relative;
    top: -2em;

}

.left {
    left:0;
}

.right {
    left:21.5em;
}

#turn-left:hover, #turn-right:hover {
    cursor: pointer;
}


